# Directories
.vs
bin
bin-int

# VS Code files
.vscode/

# Visual Studio 2019/2022 cache/options directories
.vs/
.vscode/
*.vcxproj.user
*.vcxproj.filters
*.vcxproj.filters.user
*.sln
*.log

Blink/Blink.vcxproj
Sandbox/Sandbox.vcxproj
