[submodule "Blink/vendor/spdlog"]
	path = Blink/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Blink/vendor/GLFW"]
	path = Blink/vendor/GLFW
	url = https://github.com/OmarAzizi/glfw.git
